:root {
    --wrapper_footer_background_color: #2F303A;
    --web_hover_button_color: #2196F3;
    --main_color: #212121;
    --white_color: #fff;
    --mail_phone_desc: #757575;
    --port_buttons_and_team_background: #F5F4FA;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main_color);
    letter-spacing: 0.03em;
}

/*Header*/
.header {
    display: flex;
    text-align: center;
}
.header-navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.header-navigation-webstudio {
    text-decoration: none;
    margin-left: 215px;
}

.header-navigation-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color: var(--web_hover_button_color);
    letter-spacing: 0.03em;
}

.header-navigation-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color: #000;
    letter-spacing: 0.03em;
    
}

.navigation-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-indent: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main_color);
}

.header-contacts {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    text-indent: 50px;
}

.navigation-list-item {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main_color);
}

.header-contact-item {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--mail_phone_desc);

}

.navigation-list-item:hover,
.navigation-list-item:focus,
.header-contact-item:focus,
.header-contact-item:hover {
    color: var(--web_hover_button_color);
}

/*wrapper*/

.wrapper {
    background-color: var(--wrapper_footer_background_color);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.wrapper-desc {
    width: 696px;
    color: var(--white_color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.wrapper-button {
    background-color: var(--web_hover_button_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white_color);
    cursor: pointer;
}

/*Особенности*/

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features-header {
    visibility: hidden;
}

.features-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.features-list-item {
    width: 270px;
    height: 101px;
}

.features-list-item-header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list-item-desc {
    font-size: 14px;
    line-height: 1.71;
    color: var(--mail_phone_desc);
}

/*чем мы занимаемся*/

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}

.services-list{
    display: flex;
    flex-direction: row;
}

.services-list-item {
    list-style-type: none;
}

/*команда*/

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--port_buttons_and_team_background);
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.team-list-item {
    background-color: var(--white_color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team-list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-list-item-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--mail_phone_desc);
}

/*footer*/
.footer {
    background-color: var(--wrapper_footer_background_color);
}

.footer-webstudio {
    text-decoration: none;
    align-items: left;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-web {
    color: var(--web_hover_button_color);
}

.footer-studio {
    color: var(--white_color);
}

.footer-list {
    list-style-type: none;
}

.footer-list-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white_color);
}

.footer-address-location{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white_color);
    font-style: normal;
}

.footer-mail, .footer-phone {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.footer-address-location:hover,
.footer-address-location:focus,
.footer-mail:hover, .footer-phone:hover,
.footer-mail:focus, .footer-phone:focus{
    color: var(--web_hover_button_color);
}

/* ПОРТФОЛИО */
/* Кнопки */
.divide-line {
    border: 1px solid #ECECEC
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-header {
    visibility: hidden;
}

.button-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

.button-list-item {
    
}


.button-list-item-click {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main_color);
    background-color: var(--port_buttons_and_team_background);
    border-radius: 4px;
    border-color: var(--port_buttons_and_team_background);
    cursor: pointer;
}

.button-list-item-click:hover,
.button-list-item-click:focus {
    color: var(--white_color);
    background-color: var(--web_hover_button_color);
    border-color: var(--web_hover_button_color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*карточки*/
.card-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.card-list-item {
    background-color: #EEEEEE;
}

.card-list-item-link {
    text-decoration: none;
}

.card-list-item-header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main_color);
}

.card-list-item-type {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--mail_phone_desc);
}